/*@import url(http://fonts.googleapis.com/css?family=Arimo:400,700|Droid+Sans:400,700);*/

body {
	margin: 0;
	padding: 0;
	font: normal 12px 'Droid Sans', Arial, Helvetica, sans-serif;
	color: #464646; 
	background: #d7e4ee;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #0974A5;
}

hr {
	border: none;
	border-bottom: 1px solid #E0E0E0;
}

.whitelinks, .whitelinks a {
	color: #ffffff !important;
}

:focus {
	outline: 0;
}
.container {
	overflow: hidden;
	position: relative;
}

#all {
	position: relative;
	height: 100%;
	top: 120px;
}

.register.container {
	background-color : #FFF;
	
	-webkit-box-shadow: 0 0 2px #666;
	-moz-box-shadow: 0 0 2px #666;
	-ms-box-shadow: 0 0 2px #666;
	-o-box-shadow: 0 0 2px #666;
	box-shadow: 0 0 2px #666;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	padding: 0;
	
	margin: 25px auto 10px;
	
	width: 760px;
	
}
.register.container.stepbystep {
	width: 450px;
}

.register > .page-header {
	color: #6E6E6E;
	padding: 15px 50px;
	border-bottom: 1px solid #E0E0E0;
}
.page-header h2 {
	margin: 0;
	padding: 0;
	font-size: 26px;
	font-weight: normal;
}
.register > .body {
	padding: 20px 50px;
}

.register .forms label {
	font-weight: bold;
	font-size: 14px;
	color: #6E6E6E;
	float: none;
	display: block;
	width: auto;
	margin-bottom: 5px;
}

.register .forms .actions {
	margin-left: 0;
	margin-top: 15px;
}

.register .forms .section.fullwidth input[type="text"],.register .forms .section.fullwidth textarea {
	width: 648px;
}

.register.stepbystep .forms .section.fullwidth input[type="text"],.register.stepbystep .forms .section.fullwidth input[type="password"],.register.stepbystep .forms .section.fullwidth textarea {
	width: 338px;
}
.register.stepbystep .forms .section.fullwidth select {
	width: 350px;
}
.register .forms input[type="text"],.register .forms select,.register .forms textarea,.register .forms input[type="password"] {
	font-size: 14px;
	padding: 8px 5px;
	-webkit-box-shadow: 0 1px 2px #ddd inset;
	-moz-box-shadow: 0 1px 2px #ddd inset;
	-ms-box-shadow: 0 1px 2px #ddd inset;
	-o-box-shadow: 0 1px 2px #ddd inset;
	box-shadow: 0 1px 2px #ddd inset;
	
}
/*.register .forms input[type="text"]:hover,.register .forms select:hover,.register .forms textarea:hover,.register .forms input[type="password"]:hover
,*/.register .forms input[type="text"]:focus,.register .forms select:focus,.register .forms textarea:focus,.register .forms input[type="password"]:focus {
	background-color: #C6E0ED;
	box-shadow: 0 1px 2px #999 inset;
}

.register .uploadsection {
	position: relative;
	margin:0;padding:0;
	border: 1px solid #E0E0E0;
	
}
.register .forms input[type="file"] {
	/*height: 100px;
	width: 500px;*/
	position:absolute;
	margin:0;padding:0;
	bottom:0;
	left:0;
	opacity: 0; filter:Alpha(Opacity=0);
	z-index:1;
}
#fakeupload {
	z-index: 300;
}
.register .forms .fakeupload {
	height: 85px;
	width: 547px;
	text-align: center;
	padding: 0;
	border: none;
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.register .forms button div {	
	height: 28px;
	margin: 0 15px 0 65px;
}
.register .forms .fakeupload:hover,.register .forms .fakeupload:focus {
	border: none;
}
.register .forms .bigbutton {
	width: 90px;
	font-weight: bold;
	text-align: left;
	font-size: 26px;
	line-height: 26px;
}
.stepbystep .step {
	float: right;
	padding-top: 5px;
	color: #C0C0C0;
	font-size: 16px;
	font-weight: bold;
}
.stepbystep .step div {
	padding:2px 10px 0 0;
}

.register .forms .selection label {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	width: 132px;
	cursor: pointer;	
	text-align: center;
	
	background: #e2e2e2;
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #d0d0d0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#d0d0d0));
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#d0d0d0 100%);
	background: -o-linear-gradient(top,  #e2e2e2 0%,#d0d0d0 100%);
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#d0d0d0 100%);
	background: linear-gradient(top,  #e2e2e2 0%,#d0d0d0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d0d0d0',GradientType=0 );
	
	-webkit-box-shadow: 0 1px 2px #eee inset;
	-moz-box-shadow: 0 1px 2px #eee inset;
	-ms-box-shadow: 0 1px 2px #eee inset;
	-o-box-shadow: 0 1px 2px #eee inset;
	box-shadow: 0 1px 2px #eee inset;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.register .forms .selection label.active {
	background: #2ba0f5;
	background: -moz-linear-gradient(top,  #2ba0f5 0%, #2675eb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ba0f5), color-stop(100%,#2675eb));
	background: -webkit-linear-gradient(top,  #2ba0f5 0%,#2675eb 100%);
	background: -o-linear-gradient(top,  #2ba0f5 0%,#2675eb 100%);
	background: -ms-linear-gradient(top,  #2ba0f5 0%,#2675eb 100%);
	background: linear-gradient(top,  #2ba0f5 0%,#2675eb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ba0f5', endColorstr='#2675eb',GradientType=0 );

	color: #fff;
}
.register .forms .selection label input[type="checkbox"] {
	margin: 0;
	float: left;
}
.register .forms .section.fullwidth .multiinput input[type="text"] {
	width: 500px;
}
.register .forms .section.fullwidth .multiinput label {
	display: inline-block;
	width: 140px;
}

/*list*/
.list.grid .row {
	float: left;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	border: none;
}
.list.grid .row .container {
	color: #ffffff;
	position: relative;
	padding: 10px;
	height: 25px;
	background-color: #242424;
}

.list.grid .row .actions {
	position: absolute;
	top: 2px;
	right: 2px;
}

.list.grid .row .actions {
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.list.grid .row:hover .actions {
	opacity: 1;
}

.list.grid .row h2, .list.grid .row h3 {
	font-weight: normal;
	margin: 0;
}

.list.grid::after {
	display: block;
	height: 1px;
	content: ' ';
	clear: both;
}

/* interface */

textarea {
	font-family: "Droid Sans Mono", "Lucida Console", monospace;
}
input[type=submit]:-moz-focus-inner {
	border: 0;
}
input[type=submit], input[type=reset], input[type=button], button, .button {
	font-family: Arimo, sans-serif !important;
	line-height: 11px;
	border: none;
	padding: 5px 10px;
	font-size: 11px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: #2aa8fa;
	background: -moz-linear-gradient(top, #2aa8fa 0%, #226dec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2aa8fa), color-stop(100%,#226dec));
	background: -webkit-linear-gradient(top, #2aa8fa 0%,#226dec 100%);
	background: -o-linear-gradient(top, #2aa8fa 0%,#226dec 100%);
	background: -ms-linear-gradient(top, #2aa8fa 0%,#226dec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa8fa', endColorstr='#226dec',GradientType=0 );
	background: linear-gradient(top, #2aa8fa 0%,#226dec 100%);
	color: #fff;
	/*-webkit-box-shadow: 0 1px 1px #FFFFFF inset;
	-moz-box-shadow: 0 1px 1px #FFFFFF inset;
	-ms-box-shadow: 0 1px 1px #FFFFFF inset;
	-o-box-shadow: 0 1px 1px #FFFFFF inset;
	box-shadow: 0 1px 1px #FFFFFF inset;*/
	cursor: pointer;
}
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, button:hover, .button:hover {
	/*background: #49dd61;
	background: -moz-linear-gradient(top, #49dd61 1%, #008745 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#49dd61), color-stop(100%,#008745));
	background: -webkit-linear-gradient(top, #49dd61 1%,#008745 100%);
	background: -o-linear-gradient(top, #49dd61 1%,#008745 100%);
	background: -ms-linear-gradient(top, #49dd61 1%,#008745 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49dd61', endColorstr='#008745',GradientType=0 );
	background: linear-gradient(top, #49dd61 1%,#008745 100%);*/
	background: #2aa8fa;
	background: -moz-linear-gradient(top, #2aa8fa 0%, #226dec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2aa8fa), color-stop(100%,#226dec));
	background: -webkit-linear-gradient(top, #2aa8fa 0%,#226dec 100%);
	background: -o-linear-gradient(top, #2aa8fa 0%,#226dec 100%);
	background: -ms-linear-gradient(top, #2aa8fa 0%,#226dec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa8fa', endColorstr='#226dec',GradientType=0 );
	background: linear-gradient(top, #2aa8fa 0%,#226dec 100%);
}

a.button {
	display: inline-block;
	padding: 7px 12px 6px 12px;
}

.button.watermark {
	background: rgba(255,255,255,0.5);
}

a.button:hover {
	color: #ffffff;
}

input[type=submit].small, input[type=reset].small, input[type=button].small, button.small, .button.small,
.small input[type=submit], .small input[type=reset], .small input[type=button], .small button, .small .button
{
	font-size: 12px;
	padding: 2px;
}

a.button.small, .small a.button {
	padding: 3px;
	font-size: 11px
}

.forms div {
	overflow: hidden;
}

.forms .section div {
	margin-bottom: 5px;
}

.forms label {
	float: left;
	width: 120px;
	padding-top: 5px;
}

.forms .actions {
	margin-left: 120px;
}

.forms input[type=text], .forms input[type=password], .forms select, .forms textarea {
	font-size: 12px;
	padding: 5px;
	border: 1px solid #d3d4d7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #464646;
	/*-webkit-box-shadow: 0 0 1px #f5f5f5;
	-moz-box-shadow: 0 0 1px #f5f5f5;
	-ms-box-shadow: 0 0 1px #f5f5f5;
	-o-box-shadow: 0 0 1px #f5f5f5;
	box-shadow: 0 0 1px #f5f5f5;*/
}

.forms select {
	padding: 4px 5px;
}

.forms input[type=text]:hover, .forms input[type=password]:hover, .forms select:hover, .forms textarea:hover,
.forms input[type=text]:focus, .forms input[type=password]:focus, .forms select:focus, .forms textarea:focus {
	border: 1px solid #bbbbbb;
}

.forms input[type=text]:focus, .forms input[type=password]:focus, .forms textarea:focus {
	background-color: #f9f9f9;
}
.forms .fixed input[type=text], .forms .fixed input[type=password], .forms .fixed textarea {
	width: 350px;
}

.comments .forms .fixed input[type=text],.comments .forms .fixed input[type=password],.comments .forms .fixed textarea {
	width: 500px;
}
.forms.large input[type=text], .forms.large input[type=password], .forms.large textarea {
	width: 780px;
}

.forms .fixed.wide input[type=text], .forms .fixed.wide input[type=password], .forms .fixed.wide textarea {
	width: 650px;
}

.forms .fixed .exclude input[type=text], .forms .fixed .exclude input[type=password], .forms .exclude .fixed textarea {
	width: auto;
}
.markdown-form button {
	display: inline-block;
	padding: 0.13em 0.4em;
	color: #2e3436;
	background: #d3d7cf;	
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
	border: none;
}
/* selecetion for input select */
.selection .absolute {
	position: absolute;
}

.selection .absolute.left {
	left: 5px;
}

.selection .absolute.right {
	right: 5px;
}

.selection .absolute.top {
	top: 5px;
}

.selection .absolute.bottom {
	bottom: 5px;
}
.btn-add { background-color: hsl(110, 56%, 16%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11"); background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11)); background-image: -moz-linear-gradient(top, #398f28, #193f11); background-image: -ms-linear-gradient(top, #398f28, #193f11); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11)); background-image: -webkit-linear-gradient(top, #398f28, #193f11); background-image: -o-linear-gradient(top, #398f28, #193f11); background-image: linear-gradient(#398f28, #193f11); border-color: #193f11 #193f11 hsl(110, 56%, 11%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }